<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="shortcut icon" href="#" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css"><title>WALL-E</title>
     <!-- Custom styles for this template -->

       <!-- Custom styles for this template -->
    <link href="{{static_url('starter-template.css')}}" rel="stylesheet">
    <link href="{{static_url('bubble.css')}}" rel="stylesheet">

</head>
  </head>
  
  
    {% block body %}
    
    {% end %}    
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>     
    <script src="{{static_url('js/popper.min.js')}}"  crossorigin="anonymous"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
    <script src="{{static_url('js/index.js')}}" crossorigin="anonymous"></script>
    <script src="{{static_url('js/config.js')}}" crossorigin="anonymous"></script>
    <script src="{{static_url('js/log.js')}}" crossorigin="anonymous"></script>
    <script src="{{static_url('js/vintage.js')}}" crossorigin="anonymous"></script>

</html>